<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<a href="/index">Home</a>
<p th:text="'Active promotions'"></p>
<table>
    <thead>
    <tr>
        <td>Code</td>
        <td>Type</td>
        <td>Amount</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="promo : ${promotions}">
        <td><span th:text="${promo.code}"></span></td>
        <td><span th:text="${promo.promotionType}"></span></td>
        <td><span th:text="${promo.amount}"></span></td>
    </tr>
    </tbody>
</table>

<br/>
<h2>Remove promotion:</h2>
<form action="#" th:action="@{/removePromotion}" method="post">
    <input type="text" name="code" placeholder="Enter promotion code"/><br/>
    <button type="submit">Remove</button>
</form>

<br/>
<p th:text="${removeMessage}"></p>
<h2>Add promotion:</h2>
<form action="#" th:action="@{/addPromotion}" method="post">
    <label>Code:</label>
    <input type="text" name="code"/><br/>
    <label>Type</label>
    <select name="type">
        <option value="1">Percentage</option>
        <option value="2">Fixed</option>
    </select><br/>
    <label>Amount:</label>
    <input type="numeric" name="amount" min="0"/><br/>
    <button type="submit">Add</button>
</form>

</body>
</html>